# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.pub-cache/
.pub/

# Generated platform runners (created via `flutter create .`)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
.vscode/
*.iml
.DS_Store
